<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Rebrandly Results</h2>

<table>
  <tr>
    <th style="padding:10px"></th>
    <th style="padding:10px">created at</th>
    <th style="padding:10px">shorten link</th>
    <th style="padding:10px">org link</th>
    <th style="padding:10px">id</th>
    <th style="padding:10px">status</th>
  </tr>
  <% results.forEach(function(r) { %>
      <tr>
        <td style="padding:10px"></td>
        <td style="padding:10px"><%= r.createdAt %> </td>
        <td style="padding:10px"><a href="https://sdeals.pl/<%= r.slashtag %>" target="_blank">sdeals.pl/<%= r.slashtag %></a></td>
        <td style="padding:10px"><a href="<%= r.destination %>" target="_blank">org link</a></td>
        <td style="padding:10px"><%= r.id %></td>
        <td style="padding:10px"><strong>  <%= r.deleted %> </strong></td>
      </tr>
  <% }); %>
</table>

</div>

</body>
</html>
